public/image/qr_images/*.png
public/image/photos/
!public/image/photos/.htaccess
public/image/img_so/
!public/image/img_so/.htaccess
vendor
vendor/tecnickcom/tcpdf/fonts
!vendor/tecnickcom/tcpdf/fonts