# Aktifkan mod_expires untuk caching
<IfModule mod_expires.c>
  ExpiresActive On

  # Set waktu caching untuk jenis gambar
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/jpg "access plus 1 year"
</IfModule>

# Tambahin header Cache-Control supaya browser tau ini boleh di-cache
<IfModule mod_headers.c>
  <FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
</IfModule>
